@model BurnSystems.GallerySlider.Model.GalleryModel

@{
    Layout = "~/Views/Shared/_Fullscreen.cshtml";
    ViewBag.Title = "Show Gallery";
}

@section SPAViews {
    <h1>@Html.DisplayFor(m => m.Name)</h1>
    <img id="galleryimage" />
    <p id="gallerylabel"></p>
    <a id="galleryprev" href="#" class="gallerybutton">Previous</a>
    <a id="gallerynext" href="#" class="gallerybutton">Next</a>

}

@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")

    <script type="text/javascript">
        $(function()
        {
            var x = @Html.Raw(ViewBag.GalleryModel) ;
            BurnSystems.GallerySlider.startGallery(x);
        });
    </script>

}