body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Rever the setting for the fullscreen */
body.fullscreen{
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*
     CSS for gallery detail image 
*/
.gallerylist {
    padding: 0px;
    margin: 0px 0px 20px 0px;

}

.gallerylist li {
    border-bottom: 1px solid #CCCCCC;
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

    .gallerylist li:hover {
        background-color: #F0F0FF;
        border-right: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
    }

    .gallerylist li:first-child {
    border-top: 1px solid #CCCCCC;
    }

.gallerylist img {
    border: 1px solid black;
    margin: 5px;
}

.gallerylist span {
    margin-left: 20px;
}

.gallerylist a {
    color: black;
    font-size: 20px;
}

.gallerylist a:hover {
    color: black;
}

/* 
    CSS for gallery detail image
*/
.gallerygui{
    width: 100%;
    height: 100%;
    position: absolute;
}


.galleryimage{
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.galleryheadline{
    position: absolute;
    width: 100%;
    height: 70px;
    top: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 130px;
    padding-right: 130px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px black;
}

h1.gallerytitle{
    font-size: 60px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gallerytitle a{
    color: black;
    text-decoration: none;
}

.gallerytitle a:hover{
    color: black;
}

.gallerytitle a:focus{
    color: black;
    text-decoration: none;
}

#gallerydescription{
}

.gallerybutton {
    display:block;
    background-color: black;
    border: 2px solid white;
    width: 100px;
    line-height: 45px;
    height: 50px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.gallerynext {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 30px;
}

.galleryprev {
    position: absolute;
    bottom: 0px;
    font-size: 30px;
}

.galleryoverview {
    position: absolute;
    top: 0px;
}


.gallerybutton:hover{
    color: white;
}

.gallerybutton:focus{
    color: white;
    text-decoration: none;
}

