body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Rever the setting for the fullscreen */
body.fullscreen{
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.gallerylist {
    padding: 0px;
    margin: 0px;
}

.gallerylist li {
    border-bottom: 1px solid #CCCCCC;
    list-style: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

    .gallerylist li:hover {
        background-color: #F0F0FF;
        border-right: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
    }

    .gallerylist li:first-child {
    border-top: 1px solid #CCCCCC;
    }

.gallerylist img {
    border: 1px solid black;
    margin: 5px;
}

.gallerylist span {
    margin-left: 20px;
}

.gallerylist a {
    color: black;
    font-size: 20px;
}

.gallerylist a:hover {
    color: black;
}

.gallerygui{
    width: 100%;
    height: 100%;
    position: absolute;
}

.galleryimage{
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

.galleryheadline{
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.61);
    border-bottom: 1px solid black;
}

.gallerytitle a{
    color: black;
    text-decoration: none;
}

.gallerytitle a:hover{
    color: black;
}

.gallerytitle a:focus{
    color: black;
    text-decoration: none;
}

#gallerydescription{
}

.gallerybutton {
    display:inline-block;
    background-color: black;
    border: 2px solid white;
    padding: 10px 5px 10px 5px;
    width: 100px;
    color: white;
    text-align: center;
}

.gallerynext {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.galleryprev {
    position: absolute;
    bottom: 0px;
}


.gallerybutton:hover{
    color: white;
}

.gallerybutton:focus{
    color: white;
    text-decoration: none;
}

