
@{
    ViewBag.Title = "Übersicht";
}

<ul id="gs_galleries" class="gallerylist">
</ul>

<p>
    Kommentare zu dieser Website werden gerne <a href="https://github.com/mbrenn/galleryslider/issues/new">angenommen</a>.
</p>
<script type="text/javascript">

    var gui = new BurnSystems.GallerySlider.GUI();
    gui.showGalleries();

</script>
