
@{
    ViewBag.Title = "Übersicht";
}

<h2>Die Galerien</h2>

<ul id="gs_galleries">
</ul>

<script type="text/javascript">

    var gui = new BurnSystems.GallerySlider.GUI();
    gui.showGalleries();

</script>
