
@{
    ViewBag.Title = "Übersicht";
}

<h2>Index</h2>
<div>Die Galerien</div>
<ul id="gs_galleries">

</ul>

<script type="text/javascript">

    var gui = new BurnSystems.GallerySlider.GUI();
    gui.showGalleries();

</script>
