@model BurnSystems.GallerySlider.Model.GalleryModel

@{
    ViewBag.Title = @Model.name;
    Layout = "~/Views/Shared/_Fullscreen.cshtml";
}

<div id="galleryimage" class="galleryimage"></div>
<div class="gallerygui">
    <div class="galleryheadline">
        <h1 class="gallerytitle"><a href="@Href("~/")"><span class="gallerylabel" id="gallerylabel"></span></a></h1>
        
    </div>
    <a id="galleryprev" href="#" class="gallerybutton galleryprev">Previous</a>
    <a id="gallerynext" href="#" class="gallerybutton gallerynext">Next</a>
</div>


<script type="text/javascript">
        $(function()
        {
            var x = @Html.Raw(ViewBag.GalleryModel)
            BurnSystems.GallerySlider.startGallery(x);
        });
</script>