@model BurnSystems.GallerySlider.Model.GalleryModel

@{
    ViewBag.Title = @Model.name;
    Layout = "~/Views/Shared/_Fullscreen.cshtml";
}

<div id="galleryimage" class="galleryimage"></div>
<div class="gallerygui">
    <div class="galleryheadline" id="galleryheadline">
        <h1 class="gallerytitle"><span class="gallerylabel" id="gallerylabel"></span></h1>
        <p id="gallerydescription"></p>
    </div>
    <a id="galleryoverview" href="#" class="gallerybutton galleryoverview">Übersicht</a>
    <a id="galleryprev" href="#" class="gallerybutton galleryprev">&laquo; </a>
    <a id="gallerynext" href="#" class="gallerybutton gallerynext">&raquo; </a>
</div>


<script type="text/javascript">
        $(function()
        {
            var x = @Html.Raw(ViewBag.GalleryModel)
            BurnSystems.GallerySlider.startGallery(x);
        });
</script>